{% extends "layout.html" %}
{% block main %}
<article>
  <header>
    <h2>Cadastre-se</h2>
  </header>
  <main>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    <form method="POST">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" autofocus required>

      <label for="telephone">Telefone</label>
      <input type="text" name="telephone" id="telephone" required>

      <label for="firstname">Nome</label>
      <input type="text" name="firstname" id="firstname" type="text" required>

      <label for="lastname">Sobrenome</label>
      <input type="text" name="lastname" id="lastname" required>

      <label for="username">Nome de Usuário</label>
      <input type="text" name="username" id="username" required="required">

      <label for="password">Senha</label>
      <input type="password" name="password" id="password" required>
      <button type="submit" name="submit">Cadastre-se</button>
    </form>
  </main>
  <footer>
    <p>Tem uma conta? <a href="/login">Faça login</a></p>
  </footer>
</article>
{% endblock %}
