[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
vobject = "*"
Flask-Migrate = "*"
python-dotenv = "*"
gunicorn = "*"
"psycopg2" = "*"
Flask-SSLify = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.6"
