{% extends "layout.html" %}
{% block main %}
<article>
  <header>
    <h1>{{ user['full_name'] }}</h1>
    {% if session.get('user_id') == user['id'] %}
        <a href="{{ url_for('user.settings') }}"><button>Editar</button></a>
    {% endif %}
  </header>
  <main>
    <h2>Email:</h2>
    {% for email in user['emails'] %}
        <p>{{ email['tag'] }}: {{ email['email'] }}</p>
    {% endfor %}
    <h2>Phone:</h2>
    {% for phone in user['telephones'] %}
        <p>{{ phone['tag'] }}: {{ phone['telephone'] }}</p>
    {% endfor %}
    {% if message %}
        <p class=error>Message: {{ message }}</p>
    {% endif %}
  </main>
  <footer>
    <a href="/download/{{ user['username'] }}" target="/{{ user['username'] }}"><button>Baixar Contato</button></a>
  </footer>
</article>
{% endblock %}
