{% extends "layout.html" %}
{% block main %}
<article>
  <header>
    <h2>Configurações</h2>
  </header>
  <main>
    <form method="POST">
      <label for="firstname">Nome</label>
      <input type="text" name="first_name" id="firstname" value="{{ user['first_name'] }}" required>

      <label for="lastname">Sobrenome</label>
      <input type="text" name="last_name" id="lastname" value="{{ user['last_name'] }}" required>

      {% for email in user['emails'] %}
        <input type="number" name="email_id" value="{{ email['id'] }}" hidden>
        <label>Email</label>
        <input class="form-control" name="email" id="email" type="email" placeholder="Email"
        value="{{ email['email'] }}"  required="required" data-validation-required-message="Please enter your name.">
      {% endfor %}

      {% for phone in user['telephones'] %}
        <input type="number" name="telephone_id" value="{{ phone['id'] }}" hidden>
        <label>Telefone</label>
        <input class="form-control" name="telephone" id="telephone" type="text" placeholder="Telefone"
        value="{{ phone['telephone'] }}" required="required" data-validation-required-message="Please enter your phone number.">
      {% endfor %}

      <button type="submit" name="delete" value="delete">Deletar Conta</button>
      <button type="submit" name="update" value="update">Salvar</button>
    </form>
    {% if message %}<p class=error>Message: {{ message }}</p>{% endif %}
  </main>
  <footer>

  </footer>
</article>
{% endblock %}
