<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Log In</title>
  <meta name="description" content="Webapp for contact exchanging">
  <meta name="author" content="Luiz Lima, Rodrigo Rufino">
</head>

<body>
    <form method="POST">
        <input type="email" name="email" placeholder="email" required><br>
        <input type="password" name="password" placeholder="password" required><br>
        <input type="submit" name="submit" placeholder="Log In">
    </form>
</body>
</html>