<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Sign Up</title>
  <meta name="description" content="Webapp for contact exchanging">
  <meta name="author" content="Luiz Lima, Rodrigo Rufino">
</head>

<body>
    <form method="POST">
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="text" name="firstname" placeholder="Nome" required>
        <input type="text" name="lastname" placeholder="Sobrenome" required><br>
        <input type="text" name="username" placeholder="Nome de usuário" required><br>
        <input type="password" name="password" placeholder="Senha" required><br>
        <input type="submit" name="submit" value="Cadastre-se">
    </form>
    <p>Tem uma conta? <a href="/login">Faça login</a></p>
</body>
</html>