{% extends "base.html" %}
{% block body %}
<header>
  <h1><a href="{{ url_for('main.index') }}">Contatinhos</a></h1>
  <nav>
    {% if session.get('user_id') %}
      <a href="{{ url_for('auth.logout') }}"><button>Sair</buton></a>
    {% else %}
      <a href="{{ url_for('auth.login') }}"><button>Entrar</button></a>
    {% endif %}
  </nav>
</header>

<main>
  {% block main %}{% endblock %}
</main>

<footer>
  <p>disponível no <a href="https://github.com/umluizlima/ac318-turma1-grupo1" target="_blank" rel="noopener">GitHub</a></p>
</footer>
{% endblock %}
